.suggestions {
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 30px;
}
.suggestions-header {
  padding: 1em;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.text-gclout-blue:hover {
  text-decoration: none;
  color: #00b0f0;
}
.suggestion-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 4px;
  overflow: hidden;
}
.suggestion-image {
  width: 100%;
  height: 100%;
}
.single-suggestion {
  display: flex;
  align-content: center;
  padding: 0.5em;
}
.single-suggestion a,
.single-suggestion p {
  font-size: 14px;
  margin-bottom: 0;
}
.dashed-border-bottom {
  border-bottom: 1px dashed #c4c4c4;
}
.suggestion-footer {
  height: 4rem;
  display: grid;
  align-items: center;
}
.suggestion-footer-link {
  color: #00b0f0;
  font-size: 16px;
}
.suggestion-footer-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}
.suggested-friend-actions {
  display: flex;
  align-self: center;
}