.auth-page {
  min-height: calc(98vh - 70px);
}
.auth-page-card {
  padding: 2em;
  border-radius: 8px;
  padding-top: 4em;
  padding-bottom: 4em;
}
.auth-card-title {
  font-weight: 600;
}
.auth-card-subtitle {
  color: #979797;
}
.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: "";
  z-index: 9;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 0;
  height: calc(100% - 1rem);
}

.--with-divider > .vertical-divider {
  height: calc(50% - 1rem);
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.--with-divider {
  position: relative;
}

.--with-divider > [class^="col-"],
.--with-divider > [class*=" col-"] {
  padding-left: 30px; /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}
.form-row {
  margin: 0;
}
.form-check {
  padding-left: 0;
}
.social-button-facebook {
  background: #3a5999;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: left;
  padding: 0.65em 1em;
}
.social-button-twitter {
  background: #45b0e4;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: left;
  text-transform: uppercase;
  padding: 0.65em 1em;
}
.social-button-google {
  background: #de4c33;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: left;
  text-transform: uppercase;
  padding: 0.65em 1em;
}
.social-button-linkedin {
  background: #007aaa;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: left;
  text-transform: uppercase;
  padding: 0.65em 1em;
}
.social-buttons i {
  margin-right: 2em;
  margin-left: 2em;
}
.social-button-facebook:hover,
.social-button-google:hover,
.social-button-linkedin:hover,
.social-button-twitter:hover {
  color: #ffffff;
  filter: brightness(0.95);
}
.auth-page-link {
  color: #00b0f0;
}
.auth-page-link:hover {
  color: #333333;
  text-decoration: none;
}
.authy {
  min-height: 100vh;
  display: flex;
  width: 100vw;
}
@media screen and (max-width: 800px) {
  .auth-page-card {
    /*overflow-x: hidden;*/
  }
  .vertical-divider {
    display: none;
  }
  .social-buttons {
    border-top: 2px solid #333333;
  }
  .auth-card-title {
    font-size: 1.8rem;
  }
}
@media (max-width:900px) and (min-width:400px) {
  .auth-page-card {
    margin: 0 1em !important;
  }
}