.page-title {
  padding: 0.5em 1.5em;
}
.flex-1 {
  flex: 1;
}
.floating-edit-button-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #00b0f0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 10%;
  right: 5%;
  border: none;
  display: flex;
}
.floating-edit-button-wrapper.--profile-picture {
  top: 80%;
  left: 70%;
}
.floating-edit-button-wrapper svg {
  margin: auto;
}
.floating-edit-button-wrapper:hover {
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.friends-list-container {
  border-radius: 8px;
  background: #ffffff;
  flex: 1;
  align-self: flex-start;
}
.friends-list-header {
  padding: 1em 1em;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.friends-list-header h5,
.friends-list-header p {
  margin-bottom: 0.2em;
}
.friends-search-container {
  padding: 0.5em;
  background: #f1f1f1;
}

.friends-search-container .searchContainer {
  display: inline-flex;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  overflow: hidden;
  max-height: 40px;
  width: 90%;
  align-items: center;
}
.friends-search-container.chatbox .searchContainer {
  margin: 0.6em 1em;
}
.searchIconContainer {
  background: #f1f1f1;
  margin: 0;
  height: 100%;
}
.searchIcon {
  padding: 0.8rem;
  font-size: 16px;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  flex: 1;
}
.friends-list {
  padding: 1em;
}
.notifications-container {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  width: 100%;
}
.notifications-page-header {
  padding: 0.5em 1em;
  border-bottom: 1px solid #f1f1f1;
}
.single-notification {
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}
.notification-owner-wrapper {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 15px;
}
.notification-owner {
  width: 100%;
  height: 100%;
}
.single-notification-link, 
.single-notification-link:hover, 
.single-notification-link:visited, 
.single-notification-link:active {
  color: inherit !important;
  display: flex;
  text-decoration: none;
}
.chat-list {
  background: #fff;
  overflow: auto;
  height: calc(100vh - 255px);
}
.chat-head {
  padding: 16px;
  border: 1px solid #F0F0F0;
  display: flex;
}
.chat-head-photo {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-head-photo > img {
  width: 100%;
  height: 100%;
}
.chat-head-content {
  width: calc(100% - 50px);
}
.chat-head-user-and-time {
  display: flex;
  justify-content: space-between;
}
.chat-head p {
  margin-bottom: 2px;
}
.previous-chat {
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis;  
  white-space: nowrap;
}
.chat-head-active, .chat-head:hover {
  background: #E8F6FB;
  cursor: pointer;
}
.chat-head a {
  text-decoration: none;
}
.message-count {
  color: #fff;
  background: #09526D;
  border-radius: 2px;
  font-size: 12px !important;
  padding-left: 4px;
  padding-right: 4px;
  height: 18px;
  min-width: 18px;
  text-align: center;
}
.chat-header {
  display: flex;
  padding: 16px;
  border: 1px solid #F0F0F0;
}
.main-chat-container {
  background: #fff;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.close-chat {
  background: transparent;
  border: none;
  font-weight: 800;
  cursor: pointer;
}
.chat-interface {
  padding: 16px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.chat-message-wrapper {
  display: flex;
  padding-bottom: 16px;
}
.chat-message-wrapper.owner {
  justify-content: flex-end;
} 
.message-owner {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  align-self: flex-end;
  margin-right: 12px;
  margin-bottom: 8px;
}
.message-owner img {
  width: 100%;
  height: 100%;
}
.message-wrapper {
  max-width: 300px;
}
.message-wrapper p {
  margin-bottom: 0;
}
.other-chat-message {
  background:  #E1E1E1;
  border-radius: 6px;
  padding: 0.5em 1em;
}
.owner-chat-message {
  background:  #DBEDF4;;
  border-radius: 6px;
  padding: 0.5em 1em;
}
.owner .message-owner {
  margin-left: 12px;
  margin-right: 0;
}
.message-time {
  text-align: right;
}