.gclout-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  animation: show 0.5s ease;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gclout-modal {
  width: 100%;
  margin: auto;
}
.gclout-modal-content {
  /* background: #ffffff; */
  padding: 0;
}

.gclout-modal-close-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  z-index: 999999999999999;
  background: transparent;
}
.gclout-modal-close-btn:before,
.gclout-modal-close-btn:after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0.25rem;
  width: 1.4rem;
  height: 0.1rem;
  background-color: #FFFFFF;
}
.gclout-modal-close-btn:before {
  transform: rotate(45deg);
}

.gclout-modal-close-btn:after {
  transform: rotate(-45deg);
}
.gclout-modal-close-btn:hover:after,
.gclout-modal-close-btn:hover:before {
  background-color: #00b0f0;
}
