.navigation {
  width: 100%;
  height: 80px;
  padding: 10px;
  z-index: 700;
  background: #ffffff;
  position: relative;
}
.navigation.--with-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.navigation-logo {
  height: 70px;
  width: auto;
}
.searchContainer {
  display: inline-flex;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  overflow: hidden;
  max-height: 40px;
  margin: 0.6em 2em;
  width: 400px;
  align-items: center;
}
.searchIconContainer {
  background: #f1f1f1;
  margin: 0;
  height: 100%;
}
.searchIcon {
  padding: 0.8rem;
  font-size: 16px;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  flex: 1;
}
.navigation-menu {
  display: flex;
  list-style: none;
  align-items: center;
  /* margin-top: -0.2em; */
}
.navigation-menu-item {
  padding: 0 10px;
}
.navigation-menu-item a {
  color: #333333;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.navigation-menu-button {
  background: #00b0f0;
  color: #ffffff !important;
  padding: 0.6em 1em;
  border: 2px solid #00b0f0;
  margin-top: 0.5em !important;
}
.navigation-menu-item a:hover {
  color: #00b0f0;
  text-decoration: none;
}
.navigation-menu-button:hover {
  filter: brightness(0.95);
}
.navigation-menu-icon {
  background: transparent;
  border: none;
  position: relative;
}
.navigation-menu-icon:hover {
  cursor: pointer;
}
.navigation-menu-icon[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -5px;
  left: 18px;
  font-size: 0.7em;
  background: #27a9f8;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}
.navigation-toggle {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 1em;
  align-self: center;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.navigation-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #00b0f0;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navigation-toggle span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.navigation-toggle span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
.navigation-toggle span:nth-child(1),
.navigation-toggle span:nth-child(2) {
  top: 0px;
}
.navigation-toggle span:nth-child(3),
.navigation-toggle span:nth-child(4) {
  top: 12px;
}
.navigation-toggle span:nth-child(5),
.navigation-toggle span:nth-child(6) {
  top: 26px;
}
.navigation-toggle.open span:nth-child(1),
.navigation-toggle.open span:nth-child(6) {
  transform: rotate(45deg);
}
.navigation-toggle.open span:nth-child(2),
.navigation-toggle.open span:nth-child(5) {
  transform: rotate(-45deg);
}
.navigation-toggle.open span:nth-child(1) {
  left: 3px;
  top: 5px;
}
.navigation-toggle.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 5px;
}
.navigation-toggle.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.navigation-toggle.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.navigation-toggle.open span:nth-child(5) {
  left: 3px;
  top: 20px;
}
.navigation-toggle.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 20px;
}
.navigation-menu-mobile {
  width: 80vw;
  justify-items: center;
  max-height: 0;
  opacity: 0;
  background: #ffffff;
  position: absolute;
  margin-left: 9vw;
  margin-top: -20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 3px 4px 10px 1px #00000085;
  transition: all 0.2s ease-in;
  overflow-y: hidden;
  z-index: 9999;
}
.navigation-menu-mobile ul {
  list-style: none;
  padding: 1em 3em;
  text-align: center;
}
.navigation-menu-mobile ul li {
  padding: 1em;
}
.navigation-menu-item.only-mobile {
  display: none;
}

.navigation-profile-wrapper {
  border: none;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 100px;
  overflow: hidden;
}
.navbar-profile-image {
  width: 100%;
  height: 100%;
}
.btn-profile-dropdown {
  border: none;
  background: transparent;
  display: flex;
}
.dropdown-toggle::after {
  margin-top: 20px;
}
.profile-dropdown {
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  right: 0;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  display: none;
}
.profile-dropdown.show {
  display: block;
}
.profile-dropdown-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.profile-dropdown-list-item {
  padding: 0.5em;
  border-bottom: 1px solid #f0f0f0;
}
.profile-dropdown-list-item {
  padding: 0.5em;
  padding-left: 1.5em;
  width: 100%;
}
.profile-dropdown-list-item:hover {
  background: #00b0f0;
  color: #ffffff;
}
.profile-dropdown-list-item:hover a,
.profile-dropdown-list-item:hover button {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}
.profile-dropdown-button {
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding-left: 0;
}
.profile-dropdown-button:hover {
  color: #ffffff;
}
/*****************************/
/**** Responsive Styling ****/
/*****************************/
@media screen and (max-width: 800px) {
  .navigation-toggle {
    display: block;
  }
  .navigation-menu {
    display: none;
  }
  .navigation-menu-mobile.open {
    opacity: 1;
    max-height: 120vh;
  }
  .searchContainer {
    width: 180px;
    margin: 0.6em;
  }
  .--with-shadow .navigation-menu {
    display: flex;
  }
  .--with-shadow .navigation-toggle {
    display: none;
  }
  .--with-shadow .navigation-menu-item.no-mobile {
    display: none;
  }
  .searchContainer.no-mobile {
    display: none;
  }
  .navigation-menu-item.only-mobile {
    display: block;
  }
}
