.notifications-dropdown {
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  width: 350px;
  right: 0;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  display: none;
}
.notifications-dropdown.show {
  display: block !important;
}
.notifications-dropdown-title {
  padding: 0.5em 1em;
  font-weight: 600;
  margin-bottom: 0;
}
.notifications {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notification-item {
  padding: 1em;
  border-top: 1px solid #f0f0f0;
  display: flex;
  align-content: center;
}
.notification-item:hover {
  background: #00b0f0;
  color: #ffffff;
  cursor: pointer;
}
.notification-dropdown-footer {
  text-align: center;
  color: #00b0f0;
  border-top: 1px solid #f0f0f0;
  padding: 1em;
}
.notification-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1em;
}
.notification-image {
  width: 100%;
  height: 100%;
}
.notification-item > p {
  margin-bottom: 0;
}
.notification-dropdown-footer > a {
  font-weight: 800 !important ;
}
