.auth-bg-overlay {
  background: rgba(51, 51, 51, 0.9);
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.auth-bg {
  overflow: hidden;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
