.sidebar {
  width: 270px;
  margin-right: 1em;
}
.sidebar p {
  font-size: 14px;
}
.sidebar a,
.sidebar-section a,
.sidebar-section a:hover {
  color: #333;
  text-decoration: none !important;
}
.sidebar-top {
  background: #ffffff;
  border-radius: 4px;
  padding-bottom: 2em;
  margin-bottom: 1em;
}
.sidebar-footer {
  background: #ffffff;
  border-radius: 4px;
  padding: 1em;
}
.sidebar-cover-image-wrapper {
  width: 100%;
  height: 130px;
  border-radius: 4px;
  overflow: hidden;
}
.sidebar-cover-image {
  width: 100%;
  min-height: 200px;
  height: auto;
}
.sidebar-section {
  margin: 0 1em;
  border-bottom: 1px dashed #c4c4c4;
  padding: 1em;
  border-top: 0px solid white;
}
.sidebar-section.--lift-up {
  margin-top: -60px;
}
.sidebar-section.--no-border {
  border: none;
}
.sidebar-profile-image-wrapper {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1em;
  overflow: hidden;
}
.sidebar-profile-image,
.politician-profile-image {
  width: 100%;
  height: 100%;
}
.sidebar-section p {
  margin-bottom: 0.2em;
}
.sidebar-section .text-gclout-blue {
  margin-bottom: 0.5em;
}
.section-half {
  width: 50%;
}

.politician-profile-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.sidebar-politician {
  margin: 1em 0;
}
.sidebar-footer > p > a {
  color: #333333;
}
.sidebar-footer > p > a:hover {
  color: #00b0f0;
  text-decoration: none;
}
.sidebar-footer .smaller-margin {
  margin-bottom: 0.2em;
}
.advert-section {
  padding-top: 1em;
}
.advert-section p {
  font-size: 16px;
}
.advert-link {
  color: #333333;
}
.advert-link:hover {
  color: #00b0f0;
  text-decoration: none;
}
.friends-details {
  padding-top: 0.6em;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
