.real-details-container {
  background: #ffffff;
}
.profile-details-container {
  margin-bottom: 2em;
}
.friends-details {
  padding-top: 0.6em;
}
.officer,
.office:hover {
  color: #333333 !important;
  text-decoration: none !important;
}
.friends-details p,
.details-column p,
.officer p {
  margin-bottom: 0.3em;
}
.dashed-border-right {
  border-right: 1px dashed #c4c4c4;
  border-bottom: none;
}
.main-details {
  padding-bottom: 2em;
}
.slightly-bold {
  font-weight: 570;
}
.details-column .col-6 {
  padding: 0;
}
.profile-link, .profile-link:hover {
  color: inherit !important;
  text-decoration: none !important;
}
.officer-details {
  background: #f2f2f2;
  padding: 2em 1em;
}
.officer-profile-image-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1em;
  overflow: hidden;
}
.officer-profile-image {
  width: 100%;
  height: 100%;
}
.officer {
  text-align: center;
}
.button-dropdown {
  display: none;
  left: -100px;
  right: 0;
  z-index: 9999999;
  background: #ffffff;
  color: #333333;
  border-radius: 4px;
  box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.3);
}
.button-dropdown.show {
  display: block;
}
.button-dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.button-dropdown-list-button {
  background: transparent;
  padding: 0.25em 7em 0.25em 0;
  margin: 0;
  text-align: left;
  border: none;
}
.button-dropdown-list-button:hover {
  background-color: #00b0f0;
  color: #ffffff;
  text-align: left;
}
[data-placement] {
  top: -10px !important;
  left: -140px !important;
}
@media screen and (max-width: 768px) {
  .dashed-border-right {
    border-right: none;
    border-bottom: 1px dashed #c4c4c4;
  }
}
.rounded-small {
  width: 50%;
  border-radius: 8px;
}