.real-details-container {
  background: #ffffff;
}
.profile-details-container {
  margin-bottom: 2em;
}
.friends-details {
  padding-top: 0.6em;
}
.friends-details p,
.details-column p,
.officer p {
  margin-bottom: 0.3em;
}
.dashed-border-right {
  border-right: 1px dashed #c4c4c4;
  border-bottom: none;
}
.main-details {
  padding-bottom: 2em;
}
.slightly-bold {
  font-weight: 570;
}
.details-column .col-6 {
  padding: 0;
}
.officer-details {
  background: #f2f2f2;
  padding: 2em 1em;
}
.officer-profile-image-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1em;
  overflow: hidden;
}
.officer-profile-image {
  width: 100%;
  height: 100%;
}
.officer {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .dashed-border-right {
    border-right: none;
    border-bottom: 1px dashed #c4c4c4;
  }
}
