.comment-input-wrapper {
  background: #ffffff;
  display: flex;
  align-content: center;
}
.comment-wrapper.hidden {
  display: none !important;
}
.comment-wrapper {
  display: block;
  background: #ffffff;
  padding: 1em 2em;
}
.comment-owner-wrapper {
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
  border-radius: 30px;
}
.comment-owner {
  width: 100%;
  height: 100%;
}
.comment-input-wrapper .form-control {
  margin-left: 1em;
  flex: 1;
}
.previous-comments {
  margin-top: 2em;
}
.single-comment {
  display: flex;
  border-bottom: 1px solid #cecece;
  margin-bottom: 1em;
}
.single-comment .comment-owner-wrapper {
  width: 30px !important;
  height: 30px !important;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em
}
