.comment-input-wrapper {
  background: #ffffff;
  padding: 1em 2em;
  display: flex;
  align-content: center;
}
.comment-input-wrapper.hidden {
  display: none !important;
}
.comment-owner-wrapper {
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
  border-radius: 30px;
}
.comment-owner {
  width: 100%;
  height: 100%;
}
.comment-input-wrapper .form-control {
  margin-left: 1em;
  flex: 1;
}
