.post-link,
.post-link:hover,
.post-link:focus,
.post-link:visited,
.post-link:active {
  color: #333333;
  text-decoration: none;
}
.post-container {
  background: #ffffff;
  padding: 1em 2em;
}
.post-container:hover {
  background: #fdfdfd;
}
.post-owner {
  display: flex;
  align-content: center;
}
.post-owner-image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 1em;
}
.post-owner-image {
  width: 100%;
  height: 100%;
}
.post-owner-details > p {
  font-weight: 600;
  margin: auto 0;
}
.post-owner-details {
  align-self: center;
}
.post-type {
  opacity: 0.7;
  font-weight: 400 !important;
}
.post-content {
  padding: 1em 0 0 0;
}
.post-content > p {
  text-align: justify;
}
.post-actions-container {
  padding: 1em 2em;
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
}
.post-action {
  background: transparent;
  border: none;
}
.post-action:hover {
  cursor: pointer;
  color: #00b0f0;
}
.post-media-container {
  width: 100%;
}
.post-image {
  width: 100% !important;
}
.petition-header {
  background: #ffffff;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.petition-header p , .petition-header a{
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #333333;
}
.styled-text {
  margin-bottom: 0;
  padding: 0;
  align-self: center;
}
.post-actions-container .btn {
  margin: 0;
}