.trending-section-header {
  padding: 1em;
}
.trending-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}
.trending-image {
  width: 100%;
  height: 100%;
}
.trending-name p {
  margin-bottom: 0;
  font-size: 16px;
}
.trending-name {
  margin: auto 0;
}

.trending-section-content {
  padding: 1em;
  border-radius: 8px;
  background: #ffffff;
}

.trending-text p {
  font-size: 14px;
  text-align: justify;
  margin-top: 0.5em;
}
.like-btn {
  background: transparent;
  border: none;
  padding: 0;
}
.like-btn:hover {
  cursor: pointer;
  color: #00b0f0;
}
.trending-post {
  padding: 1em 0;
}